In [1]:
import psycopg2
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import urllib.parse as up

ModuleNotFoundError: No module named 'psycopg2'

In [2]:
"""
    conn = psycopg2.connect(database="postgres",
                        host="localhost",
                        user="postgres",
                        password="123456",
                        port="5432")
    crsr = conn.cursor()
"""

In [3]:

up.uses_netloc.append("postgres")
url = "postgres://ojsviats:SMTMA2n8pMCoLS-LlukJAdnmrwkwS_Uc@flora.db.elephantsql.com/ojsviats"

conn = psycopg2.connect(url)
crsr = conn.cursor()

In [5]:
query = '''
CREATE TABLE profesor (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [6]:
conn.commit()

In [7]:
query = '''
CREATE TABLE ta (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    id_profesor VARCHAR(32) NOT NULL,
    nombre VARCHAR(32) NOT NULL,
    CONSTRAINT fk_profesor 
        FOREIGN KEY (id_profesor) REFERENCES profesor(id)
    )
'''
crsr.execute(query)

In [8]:
conn.commit()

In [9]:
query = '''
CREATE TABLE campus (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [10]:
conn.commit()

In [11]:
query = '''
CREATE TABLE promocion (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    mes VARCHAR(32),
    fecha_inicio VARCHAR(32),
    id_campus VARCHAR(32),
    CONSTRAINT fk_campus_ver FOREIGN KEY (id_campus) REFERENCES campus(id)
    )
'''
crsr.execute(query)

In [12]:
conn.commit()

In [13]:
query = '''
CREATE TABLE vertical (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL,
    id_promocion VARCHAR(32), 
    id_profesor VARCHAR(32),
    CONSTRAINT fk_promocion_ver FOREIGN KEY (id_promocion) REFERENCES promocion(id),
    CONSTRAINT fk_profesor_ver FOREIGN KEY (id_profesor) REFERENCES profesor(id)
    )
'''
crsr.execute(query)

In [14]:
conn.commit()

In [15]:
query = '''
CREATE TABLE proyectos (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL
    )
'''
crsr.execute(query)

In [16]:
conn.commit()

In [17]:
# Alumnos table
query = '''
CREATE TABLE alumnos (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    nombre VARCHAR(32) NOT NULL,
    email VARCHAR(32) NOT NULL,
    id_vertical VARCHAR(32) NOT NULL,
    CONSTRAINT fk_vertical
        FOREIGN KEY (id_vertical) REFERENCES vertical(id)
    )
'''
crsr.execute(query)

In [ ]:
conn.commit()

In [ ]:
query = '''
CREATE TABLE notas (
    id VARCHAR(32) NOT NULL PRIMARY KEY,
    id_alumno VARCHAR(32) NOT NULL,
    id_proyecto VARCHAR(32),
    nota VARCHAR(32),
CONSTRAINT fk_alumnos_notas FOREIGN KEY (id_alumno) REFERENCES alumnos(id),
CONSTRAINT fk_proyectos_notas FOREIGN KEY (id_proyecto) REFERENCES proyectos(id)
)
'''
crsr.execute(query)

In [28]:
conn.commit()

In [29]:
query = '''
INSERT INTO alumnos VALUES (53,'Matias ','email@loquese.com',2)
'''
crsr.execute(query)

In [30]:
conn.commit()